@import url(globals/global.css);
@import url(globals/app.css);
@import url(/globals/forms.css);
@import url(/globals/radios.css);
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
img{
  max-width: 100%;
  max-height: 100%;
}