form{
  margin-top: 3rem;
}
main legend{
  margin-bottom: 1.5rem;
  color: var(--text-primary);
  font: 600 1rem/1.25 'poppins', 'sans-serif';
}
main fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.input-wrapper, .select-wrapper, .textarea-wrapper, .droparea-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
input, select, textarea{
appearance: none;
border: 1px solid var(--stroke-default);
border-radius: 0.5rem;

padding: .75rem 1rem;
font: var(--text-primary);
}
main label{
  color: var(--text-secondary);
  font: 0.85rem/1.4 'poppins', 'sans-serif';
  margin-bottom: .25rem;
}
input:focus, select:focus, textarea:focus, input[type="date"]:focus-within{
  outline: .25rem solid var(--surface-secondary);
  border: .125rem solid var(--stroke-hightlight);
  outline-offset: .1px;
}

input[type="date"] {
  position: relative;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  &::before {
    content: "";
    position: absolute;
    background: url(/assets/logos/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    
  }
}
select{
  background: url(/assets/logos/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

.dropzone{
  border: 1px dashed var(--stroke-default);
  border-radius: .25rem;
  
  display: grid;

  justify-items: center;
  gap: .5rem;
  position: relative;
  padding: 1.75rem 1rem;
  & input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  & p{
    color: #A8A29E;
  }
  &:hover, &:has(input:focus){
    border-width: 2px;
    border-color: var(--stroke-hightlight);
    background-color: var(--surface-secondary);
    & p{
      color: var(--text-tertiary);
    }
    & svg path{
      stroke: var(--stroke-hightlight);
    }
  }
}