form{
  margin-top: 3rem;
}
main legend{
  margin-bottom: 1.5rem;
  color: var(--text-primary);
  font: 600 1rem/1.25 'poppins', 'sans-serif';
}
main fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.input-wrapper, .select-wrapper, .textarea-wrapper, .droparea-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
input, select, textarea{
appearance: none;
border: 1px solid var(--stroke-default);
border-radius: 0.5rem;

padding: .75rem 1rem;
font: var(--text-primary);
}
main label{
  color: var(--text-secondary);
  font: 0.85rem/1.4 'poppins', 'sans-serif';
  margin-bottom: .25rem;
}
input:focus, select:focus, textarea:focus{
  outline: .25rem solid var(--surface-secondary);
  border: .125rem solid var(--stroke-hightlight);
  outline-offset: .1px;
}