label + .radio-wrapper{
  margin-top: 1rem;
}
.radio-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}
.radio-inner{
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;
  display: grid;
  justify-items: center;
  gap: .5rem;
  padding: 2rem .5rem .5rem;
  position: relative;

  & input,
  & input:focus,
  & input:hover{
    all: unset;
    position: absolute;
    inset: 0;

  }
  &:hover, &:focus-within{
    border: 1px solid var(--stroke-hightlight);
  & .radio-image{
    background-image: url(/assets/circle-hover.svg);
  }
  }

  &:has(:checked) {
    border: 2px solid var(--stroke-hightlight);
    & .radio-image{
      background-image: url(/assets/circle-checked.svg);
    }
  }
}
.radio-image{
  position: absolute;
  background-image: url(/assets/circle-default.svg);
  width: 1.5rem;
  height: 1.5rem;
  top: .5rem;
  left: .5rem;
}
.enroll-option{
  margin-top: 2.5rem;
}
.terms-wrapper{
  margin-top: 3rem;
  display: flex;
  gap: .75rem;
  align-items: flex-start;

  & strong{
    font-weight: 500;
    color: var(--stroke-hightlight);
  }
}
.checkbox-wrapper{
  position: relative;

  & [type="checkbox"]{
    all: unset;
    position: absolute;
    inset: 0;
  }
  .checkbox-image{
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(/assets/checkbox-default.svg);
    max-width: 100%;
  }

  &:hover .checkbox-image{
    background-image: url(/assets/checkbox-hover.svg);
  }

  &:has(:checked) .checkbox-image{
    background-image: url(/assets/checkmark-square-01.svg);
  }
}